<div ng-include="'views/leftPanel.html'"></div>
<section data-ng-controller="ClientsController" data-ng-init="findOne()">
    <span>{{client.updatedAt | date:'medium'}}</span>/ created by
    <span>{{client.UserId}}</span>
    <h2>{{client.name}}</h2>
    <div data-ng-show="global.user.id == client.user.id">
        <a class="btn" href="/#!/articles/{{client.id}}/edit">
        	<i class="icon-edit"></i>
        </a> 
        <a class="btn" data-ng-click="remove();">
            <i class="icon-trash"></i>
        </a>
    </div>
    <div>{{client.lastName}}</div>
</section>
